<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.5.2" />
    <customErrors mode="Off" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
</configuration>
<!--ProjectGuid: {dd51e8e5-1c33-4830-ba1d-99cc631c5785}-->