<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>

    <trace enabled="true" pageOutput="false" />
    <customErrors mode="Off" />

    <compilation targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />

    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>  
    </webServices>

  </system.web>

</configuration>
<!--ProjectGuid: {b29201a7-5ccb-4301-a761-f95902c7610e}-->