<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="QueryStringSender.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
<!--ProjectGuid: {1f6225d4-8f24-4a97-b54a-8fb19286921c}-->