<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <location path="ReflectedXSSQuery.aspx">
    <system.web>
      <httpRuntime requestValidationMode="2.0" />
    </system.web>
  </location>
  <system.web>
    <compilation targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
  </system.web>
</configuration>
<!--ProjectGuid: {30863e8d-0498-4885-9962-e92843010b5e}-->