<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <trace enabled="true" pageOutput="false" />
    <customErrors mode="Off" />
    <compilation targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>  
    </webServices>
  </system.web>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="WebService.asmx">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add initializeData="local.log" type="System.Diagnostics.TextWriterTraceListener" name="AsmxTraceFile" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="WebService.Asmx" value="Verbose" />
    </switches>
  </system.diagnostics>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="Client.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <connectionStrings>
    <add name="ZipDB" connectionString="Server=tcp:#####.database.windows.net,1433;Initial Catalog=LabZip;Persist Security Info=False;User ID=#####;Password=#####;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>
</configuration>
<!--ProjectGuid: {b29201a7-5ccb-4301-a761-f95902c7610e}-->