<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <trace enabled="false" />
    <compilation targetFramework="4.5.2" />
    <customErrors mode="Off" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="Browse.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <add name="ShopDB" connectionString="Server=tcp:#####.database.windows.net,1433;Initial Catalog=ShopDB1;Persist Security Info=False;User ID=:#####;Password=:#####;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>
</configuration>
<!--ProjectGuid: {d60412a2-8226-49c8-99a6-66bb3669853d}-->